.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  background-color: #212121;
  color: white;
  margin-bottom: 1rem;
}

.nav-link {
  color: lightgrey;
}

body {
  background-color: #323232;
}

#title-card {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #0D7377;

}

/* .content h1 {
  color: white;
  margin-top: 3rem;

} */


.navbar-brand:hover {
  color: #14FFEC;
}

/* .album img {
  max-width: 80%;
  margin-top: 2rem;
} */

/* .album-card {
  max-width: 20%;
} */

.album-card iframe {
  opacity: 0%;
}

/* .album-card h3 {
  margin-top: 20%;
} */

.album-card:hover * {
  opacity: 1;
  transition: opacity 0.75s ease-in;
  size: 100%;
  /* text-shadow: -1px 3px black; */
  /* -webkit-text-stroke: 2px black; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: white;
}

.card:hover .card-img {
  opacity: 25%;
  transition: opacity .5s ease-out;
}

.card {
  padding-top: 8px;
}